@import "../inc/setup";

.site-header {
  padding-top: 10px;
  padding-bottom: 10px;

  &-inner {
    display: flex;
    align-items: center;
  }
}

.site-title {
  margin-bottom: 0;

  a {
    color: $text-color;
    text-decoration: none;
  }
}

.site-nav {
  display: flex;
  margin-left: auto;
  margin-bottom: 0;
  list-style: none;

  li {
    margin-bottom: 0;
  }

  a {
    display: inline-block;
    padding: 10px;
    color: $text-color;
    text-decoration: none;
    transition: all 200ms ease-in-out;

    &:hover {
      background-color: rgba($white, 0.1);
    }
  }
}
