@import "../inc/setup";

.site {
  &-header {
    padding-top: 15px;
    padding-bottom: 15px;

    &-inner {
      display: flex;
      align-items: center;
    }
  }

  &-title {
    display: block;
    font-size: $font-size-large;
    color: $text-color;
    text-decoration: none;
  }

  &-name {
    display: block;
    font-weight: $font-weight-heavy;
  }

  &-description {
    font-size: $font-size-small;
  }

  &-nav {
    display: flex;
    margin-left: auto;
    margin-bottom: 0;
    list-style: none;

    li {
      margin-bottom: 0;
    }

    a {
      display: inline-block;
      padding: 10px;
      font-size: $font-size-small;
      color: $text-color;
      text-decoration: none;
      transition: all $animation-duration-base $cubic-bezier-base;

      &:hover {
        background-color: rgba($black, 0.05);
      }
    }
  }
}
