@import "../inc/setup";

.site-header {
  display: flex;
  align-items: center;
  padding: 15px;
  background-color: $background-ui;
  border-bottom: 1px solid $border-color;
}

.site-title {
  margin-bottom: 0;

  a {
    color: $text-color;
    text-decoration: none;
  }
}

.site-nav {
  display: flex;
  margin-left: auto;
  margin-bottom: 0;
  list-style: none;

  li {
    margin-bottom: 0;
  }

  a {
    display: inline-block;
    padding: 10px;
    color: $text-color;
    text-decoration: none;
    transition: all 200ms ease-in-out;

    &:hover {
      background-color: rgba($white, 0.1);
    }
  }
}
